/*------------------ PRODUCT PHONES ------------------*/
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 768px) { 

.main {

  background-image: url("/image/background.jpg");
  padding-bottom: 50px;

  .main-container {
    width: 85%;
    margin: auto;


    .pastaCard {
      padding-top: 50px;
      display: flex;
      flex-wrap: wrap;

      h2 {
        font-size: 45px;
        color: #20477D;
        padding: 50px 0 20px 10px;
        width: 100%;
        text-transform: uppercase;
      }

      .card {
        position: relative;
        // width: 50%;

        .img-container {
          height: auto;
          width: 100%;
          margin: 5px;
          overflow: hidden;

          .img-pasta {
            // height: auto;
            width: 100%;
            transition: 500ms;
          }
        }

        &:hover {
          .img-pasta {
            transform: scale(1.1, 1.1);
            transition: transform 500ms;
          }

        }

        &:hover .overlay {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(5px, 0);
          padding: 50px;

        }

        .overlay {
          display: none;
          text-align: center;
          height: 100%;
          width: 100%;

          &:hover {
            transition: 500ms;
            background-color: rgb(255, 255, 255, 0.7);
          }

          .titolo {
            font-size: 25px;
            margin-bottom: 20px;
            color: #20477D;
            text-transform: uppercase;
          }

        }//overlay

        .icon {
          position: absolute;
          bottom: 50px;
          width: 30px;
        }

      }//card 

    }//pastaCard

  }//container

}

//main
  
  

}



/*------------------ PRODUCT TABLETS ------------------*/
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1200px) {

}



/*------------------ PRODUCT LAPTOPS ------------------*/
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {

}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (min-resolution: 192dpi) {
  
}

