
footer {
  margin-top: 80px;
  color: #A6ACB7;
  font-size: 22px;

  .footer-container {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  
  ul {
      display: flex;

    }

    a {
        color: #A6ACB7;
        font-size: 20px;
        margin-top: 10px;
        font-weight: normal;
    }     
    

    .servizi {
        flex-direction: column;
        font-size: 15px;
        padding-top: 25px;

        & a:hover {
            color: black;
        }

    }
    
    .address {
        line-height: 1.5em;
        font-size: .8em;
    }

    .f-logo {
        width: 30%;

        img {
        width: 80%;
        }
    }

    

    .f-pastificio {
        margin: 20px 55px 0;
        line-height: 1.3em;
    }

    .head-list {
        font-size: 30px;
        font-weight: bold;
    }


    .f-chef {
        margin-left: 200px;
        margin-top: 20px;
        line-height: 1.3em;
    }

    .prodotti {
        margin-top: 30px;
        font-weight: bold;
        font-size: 30px;
    }

  
  } //footer-container

    .footer-bottom {
        background-image: url("/image/footer.jpg");
        height: 130px;
    }
}//footer

@import "partial/footer/mqFooter";