.logo {
    text-align: center;
    margin-top: 40px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 20px;
}

nav li a {
    color: black;
}

nav li:hover,
nav li:active {
    background-color: #b3e5fc;
}